main {
  display: grid;
  padding: var(--space-2xl);
  row-gap: var(--space-m);
}

b,
strong {
  font-weight: bolder;
}

p + p {
  margin-top: var(--space-m);
}

h2 {
  color: var(--color-title);
  font-size: var(--font-size-h2);
}

ul {
  padding-left: 1.4em;
  display: grid;
  grid-gap: var(--space-m);
}

li {
  list-style: square;
  padding-left: 0.4em;
}

li::marker {
  color: rgb(var(--rgb-border));
}

blockquote {
  background: rgb(var(--rgb-foreground), 0.08);
  border-left: 3px solid rgb(var(--rgb-border));
  padding: 16px 18px;
}

pre,
code {
  font-family: var(--font-stack-mono);
  font-size: calc((14 / 16) * 1rem);
  hyphens: none;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre {
  border-radius: 0.65rem;
  margin: 1.25rem 0;
  overflow: auto;
  padding: 1.5rem;
}

/* Inline code */
:not(pre) > code {
  background: rgba(var(--rgb-foreground), 0.1);
  border-radius: 0.25rem;
  color: var(--color-title);
  padding: 0.25rem 0.5rem;
  white-space: normal;
}
