h1,
h2,
h3,
h4 {
  line-height: var(--line-height-title);
  color: var(--color-title);
}

pre,
code {
  font-family: var(--font-stack-mono);
  font-size: calc((14 / 16) * 1rem);
  hyphens: none;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre {
  border-radius: 0.65rem;
  margin: 1.25rem 0;
  overflow: auto;
  padding: 1.5rem;
}

/* Inline code */
:not(pre) > code {
  background: rgba(var(--rgb-text), 0.1);
  border-radius: 0.25rem;
  color: var(--color-title);
  padding: 0.25rem 0.5rem;
  white-space: normal;
}
