*,
*::before,
*::after {
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  inset: 0;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: start;
  width: 100vw;
}
