#root {
  --grid-gap: 32px;

  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  height: 100vh;
  justify-content: flex-start;
  padding: var(--grid-gap);
  width: 100vw;
}
